* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 960px;
  height: 960px;
}

.box {
  --squares: 16;
  flex: 0 0 calc((100% - 15px) / var(--squares));
  height: calc((100% - 15px) / var(--squares));
  margin: 0px;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(189, 188, 188);
}
