* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

button {
  border: solid pink;
  background-color: pink;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 4px 16px;
  box-shadow: 2px 2px 2px rgb(251, 151, 168);
  transition-duration: 0.2s;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  border: solid rgb(253, 201, 210);
  background-color: rgb(253, 201, 210);
  padding: 5px 19px;
  box-shadow: 3px 3px 3px rgb(251, 151, 168);
  font-size: larger;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 960px;
  height: 960px;
}

.box {
  --squares: 16;
  flex: 0 0 calc((100% - 15px) / var(--squares));
  height: calc((100% - 15px) / var(--squares));
  margin: 0px;
  background-color: rgb(250, 250, 250);
  opacity: 1;
  border: 1px solid rgb(189, 188, 188);
}
