* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 940px;
  height: 940px;
}

.box {
  flex: 0 0 calc((100% - 15px) / 16);
  height: calc((100% - 15px) / 16);
  margin: 0px;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(189, 188, 188);
}
